body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body{
  text-align: center;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  margin: 100px;
}

h2{
  font-weight: lighter;
  padding: 10px;
  margin-bottom: 7px;
}

input{
  padding: 10px 15px;
  font-size: 16px;
  border-radius: 8px;
  border: 1px solid grey;
}

.todo-input{
  border-radius: 8px;
  padding-top: 20px;
  padding-bottom: 10px;
  align-items: center;
}

button{
  background-color: grey;
  color: white;
  border-radius: 3px;
  font-size: 20px;
  margin-bottom: 30px;
}


/* done list */
.todo_container{
  border: 1px solid grey;
  border-radius: 8px;
  padding: 0px;
  text-align: center;
   border-top:  1px solid grey;
   border-bottom:  1px solid grey;
}

li{
  margin: 10px;
  padding: 0px;
}

.main-list{
  display: block;
  text-align: left;
  list-style-type: none;
 
}



@media only screen and (min-width: 768px) {
  main{
      display: block;
  }

  .columns-desktop{
      display: block;
  }
}